<footer class="page-footer teal ">
    <style type="text/css">
        /*Footer Adhesivo*/
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
        }
        .rigth-btn { text-align: right }
    </style>
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="white-text">Info.....</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a class="white-text right" href="#!">© 2017 Copyright Text</a>
        </div>
    </div>
</footer>
