<head>
    <meta charset="UTF-8"/>
    <title>ANGULAR TEST</title>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- materialize!-->
    <link href="../materialize/css/materialize.css" rel="stylesheet" media="screen" />

    <!-- angular !-->
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/angular_modules/AngularApp.js"></script>
    <script type="text/javascript" src="../js/angular_modules/AnguarUsersController.js"></script>
</head>
<header>
    <nav style="margin-bottom: 1%;">
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo">AngularJS</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

            </ul>
        </div>
    </nav>
</header>


